USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2/24/2024 10:58:06 AM ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 2/24/2024 10:58:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[role] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_name] [varchar](50) NULL,
	[pro_catg] [varchar](100) NULL,
	[pro_mrp] [money] NULL,
	[pro_price] [money] NULL,
	[pro_desc] [varchar](max) NULL,
	[pro_image] [varchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[UserId] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[Mobile] [bigint] NULL,
	[Address] [varchar](max) NULL,
	[PinCode] [int] NULL,
	[State] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[RoleNo] [int] IDENTITY(101454,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[mobile] [bigint] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[RoleNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProducts]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Deepak>
-- Create date: <21/01/2024>
-- Description:	<This is use to add record into the products table,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddProducts] 	@pro_name		varchar(100),@pro_catg		varchar(100),@pro_mrp		money,@pro_price		money,@pro_desc		varchar(max),@pro_image		varchar(max)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Products([pro_name], [pro_catg], [pro_mrp], [pro_price], [pro_desc], [pro_image]) 
	select @pro_name,@pro_catg,@pro_mrp,@pro_price,@pro_desc,@pro_image
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProductById]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Deepak>
-- Create date: <27/01/2024>
-- Description:	<This is use to Get record from the products table,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetProductById] 	
@proId		int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	select [pro_name], [pro_catg], [pro_mrp], [pro_price], [pro_desc], [pro_image]
	from Products where pro_id=@proId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_IsUserValid]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[usp_IsUserValid] 
	@UserId varchar(100)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select UserId from login where UserId=@UserId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_login]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_login] 
	@UserId varchar(100),
	@Pass varchar(100)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select UserId,role from login where UserId=@UserId and Pass=@Pass
END
GO
/****** Object:  StoredProcedure [dbo].[usp_register]    Script Date: 2/24/2024 10:58:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_register]
@Fname		varchar(100),
@Lname		varchar(100),
@UserId		varchar(100),
@Pass		varchar(100),
@EmailId	varchar(100),
@Mobile		bigint,
@Address	varchar(100),
@PinCode	bigint,
@State		varchar(100),
@City		varchar(100),
@Gender		varchar(100),
@Age		int,
@role		varchar(50)='customer'

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT off;
	if exists(select 1 from Login where UserId=@UserId)
	BEGIN
	select 2;
	END
	else
	BEGIN
    insert into register([Fname], [Lname], [UserId], [Pass], [EmailId], [Mobile], [Address], [PinCode], [State], [City], [Gender], [Age]) values(@Fname, @Lname, @UserId, @Pass, @EmailId, @Mobile, @Address, @PinCode, @State, @City, @Gender, @Age)
	insert into login([UserId], [Pass],[role]) values(@UserId,@Pass,@role)
	select 1;
	END
END
GO
USE [master]
GO
